body {
  background-color: rgba(195, 205, 11, 0.473);
  text-align: center;
}

.color-picker-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.color-display{
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid grey;
  background-color: #ffffff;
  border-radius: 25px;
  margin-bottom: 10px;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.446);
  transition: 0.25s ease;
}
.color_input{
  height: 50px;
  width: 75px;
}
